---
Language: Cpp
BasedOnStyle: Google
IndentWidth: 4
UseTab: Never
ColumnLimit: 80
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
BreakBeforeBraces: Linux
PointerAlignment: Left
SpaceBeforeParens: ControlStatements
SpaceAfterCStyleCast: true
SortIncludes: false
AlignEscapedNewlines: Left
AlignOperands: false
AlignTrailingComments: true
BinPackArguments: true
BinPackParameters: true
AllowAllParametersOfDeclarationOnNextLine: true
MaxEmptyLinesToKeep: 1
IndentCaseLabels: false
NamespaceIndentation: None
